__pycache__/
venv/
.idea/
dist/
g910_gkey_macro*/
log.txt
files.txt
remove_and_reinstall.sh
install_and_run.sh
wiki/
g910_gkeys.egg-info/
g910-gkey-macro-support.wiki/
/docs/

notes

# build
/build/
/.pybuild/
/debian/
/.pytest_cache/

*.log

# layout helper
/char_uinput_mapping_*